[Unit]
Description=NOIA Platform Agent
After=multi-user.target
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/noia_agent run
[Install]
WantedBy=multi-user.target